mdm-plugin-terminology/grails-app/assets/xsd/terminology_4.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:mdm="http://maurodatamapper.com/terminology/4.1" elementFormDefault="qualified"
           targetNamespace="http://maurodatamapper.com/terminology/4.1">
  <xs:element name="terminology" type="mdm:terminologyType" />
  <xs:element name="terminologies" type="mdm:terminologiesType" />
  <xs:complexType name="terminologyType">
    <xs:complexContent>
      <xs:extension base="mdm:catalogueItem">
        <xs:sequence>
          <xs:element name="author" type="xs:string" minOccurs="0" />
          <xs:element name="organisation" type="xs:string" minOccurs="0" />
          <xs:element name="documentationVersion" type="mdm:mandatoryString">
            <xs:annotation>
              <xs:documentation>If adding a Terminology which already exists in the Mauro Data Mapper then this must be provided and be a later version to the one in the Catalogue.
                Otherwise you will get an import error due to non-unique labels</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="finalised" type="xs:boolean" />
          <xs:element minOccurs="0" name="dateFinalised" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>If finalised is true then this element is NOT optional</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="modelVersion" type="xs:string">
              <xs:annotation>
                <xs:documentation>ModelVersion must only be set if the Terminology is finalised.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="branchName" type="xs:string" />
          </xs:choice>
          <xs:element name="authority" type="mdm:authorityType" />
      <xs:element name="termRelationshipTypes" type="mdm:termRelationshipTypeCollectionCT"
                  minOccurs="0" />
      <xs:element name="terms" type="mdm:termCollectionCT" minOccurs="0" />
      <xs:element name="termRelationships" type="mdm:termRelationshipCollectionCT" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="terminologiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mdm:terminology" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="termCT">
    <xs:complexContent>
      <xs:extension base="mdm:catalogueItem">
        <xs:sequence>
          <xs:element name="code" type="mdm:mandatoryString" />
          <xs:element name="definition" type="mdm:mandatoryString" />
          <xs:element minOccurs="0" name="url" type="mdm:mandatoryString" />
          <xs:element minOccurs="0" name="depth" type="xs:integer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="termRelationshipCT">
    <xs:complexContent>
      <xs:extension base="mdm:catalogueItem">
        <xs:sequence>
          <xs:element name="relationshipType" type="mdm:mandatoryString">
            <xs:annotation>
              <xs:documentation>The 'label' matching a predefined term relationship type</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sourceTerm" type="mdm:mandatoryString">
            <xs:annotation>
              <xs:documentation>The 'code' for a predefined term</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetTerm" type="mdm:mandatoryString">
            <xs:annotation>
              <xs:documentation>The 'code' for a predefined term</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="termRelationshipTypeCT">
    <xs:complexContent>
      <xs:extension base="mdm:catalogueItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="displayLabel" type="mdm:mandatoryString" />
          <xs:element minOccurs="1" name="parentalRelationship" type="xs:boolean" />
          <xs:element minOccurs="1" name="childRelationship" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="termCollectionCT">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="term" type="mdm:termCT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="termRelationshipCollectionCT">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="termRelationship" type="mdm:termRelationshipCT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="termRelationshipTypeCollectionCT">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="termRelationshipType"
                  type="mdm:termRelationshipTypeCT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aliasesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="alias" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classifiersType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="classifier" type="mdm:classifierType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classifierType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="mdm:uuid" />
      <xs:element name="label" type="mdm:mandatoryString" />
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annotationsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="annotation" type="mdm:annotationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annotationType">
    <xs:sequence>
      <xs:element name="id" type="mdm:uuid" minOccurs="0" />
      <xs:element name="createdBy" type="mdm:mandatoryString" />
      <xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
      <xs:element name="label" type="mdm:mandatoryString">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="childAnnotations" type="mdm:childAnnotationsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="childAnnotationsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="annotation" type="mdm:childAnnotationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="childAnnotationType">
    <xs:sequence>
      <xs:element name="id" type="mdm:uuid" minOccurs="0" />
      <xs:element name="label" type="mdm:mandatoryString" minOccurs="0">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="createdBy" type="mdm:mandatoryString" />
      <xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="childAnnotations" type="mdm:annotationsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rulesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="rule" type="mdm:ruleType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="mdm:uuid"/>
      <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
      <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime"/>
      <xs:element name="name" type="mdm:mandatoryString"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="ruleRepresentations" type="mdm:ruleRepresentationsType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruleRepresentationsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ruleRepresentation" type="mdm:ruleRepresentationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruleRepresentationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="mdm:uuid"/>
      <xs:element minOccurs="0" name="language" type="xs:string"/>
      <xs:element minOccurs="0" name="representation" type="xs:string"/>
      <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataCollectionType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="metadata" type="mdm:metadataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="mdm:uuid" />
      <xs:element name="namespace" type="xs:string" />
      <xs:element name="key" type="xs:string" />
      <xs:element minOccurs="1" name="value" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="mandatoryString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="multiplicity">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uuid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-fF0-9]{4}-[a-f0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="authorityType">
    <xs:sequence>
      <xs:element name="id" type="mdm:uuid" minOccurs="0" />
      <xs:element name="label" type="mdm:mandatoryString" />
      <xs:element name="url" type="mdm:mandatoryString" />
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string" />
      <xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="catalogueItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="mdm:uuid" />
      <xs:element name="label" type="mdm:mandatoryString" />
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="aliases" type="mdm:aliasesType" />
      <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="classifiers" type="mdm:classifiersType" />
      <xs:element minOccurs="0" name="metadata" type="mdm:metadataCollectionType" />
      <xs:element minOccurs="0" name="annotations" type="mdm:annotationsType" />
      <xs:element minOccurs="0" name="rules" type="mdm:rulesType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
